@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
:root{
  --primary--text--color:#082042;
  --secondary--text--color:#ff4201;
  --third--text--color:#4a81c0;
  --white--color:#ffffff;
  --black-color:#000000;
  --padding-inline:20px;
}
body{
  font-family: 'Roboto', sans-serif;
  color: var(--primary--color);
}

